/*Transperency for button and scrollbar*/
.buttonStyle {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.tab-down-button {
	-fx-padding: 0;
	-fx-background-color: black;
}

.tab-down-button .arrow {
	-fx-padding: 0;
}

.tab {
	-fx-background-color: -fx-background;
	-fx-background: black;
	-fx-text-background-color: white;
}

.tab-label {
    -fx-text-fill: #fff;
}

.tab:focused .tab-label {
    -fx-text-fill: #000;
}

.tab:hover {
	-fx-background: #474949;
}

.tab:selected {
	-fx-background: black;
}
